.user-detected-detail {
  margin-top: 40px;
}

.follow-wrapper {
  padding: 20px;
}

.org-item {
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
}